body {
  font-size: 1.8rem;
  color: $text-color;
}
/* indexページ */
.indexPage {
  max-width: $layout-width-inner;
  margin: 0 auto;
  padding: 0 30px;
  @include tab {
    padding: 0 10px;
  }
  &__top {
    background-image: url(../images/top/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
    margin: $layout-height-pc 0 0;
    @include tab {
      margin: $layout-height-sp 0 0;
      height: 50vh;
    }
    @include sp {
      margin: $layout-height-sp 0 0;
    }
    &Container {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 4px;
    }
    &Title {
      font-size: 48px;
      font-family: $main-font;
      @include sp {
        font-size: 10vw;
      }
    }
    &Sub {
      display: block;
      font-size: 22px;
      margin: 8px auto;
      @include sp {
        font-size: 4.2vw;
      }
    }
  }
  &__chapter {
    margin: 100px 40px 160px;
    padding-top: $layout-height-pc;
    text-align: center;
    color: $main-color;
    @include tab {
      margin: 0 20px;
      padding-top: $layout-height-sp;
    }
    @include sp {
      margin: 0 20px;
    }
    &Title {
      font-size: $content-title;
      border-bottom: $border;
      @include sp {
        font-size: $content-title-sp;
      }
    }
    &Sub {
      font-size: $content-sub-title;
      padding-top: 10px;
      @include sp {
        font-size: $content-sub-title-sp;
      }
    }
  }
  &__article {
    margin: 100px auto;
    font-size: $main-text;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tab {
      display: block;
      margin: 60px auto;
    }
    @include sp {
      font-size: $main-text-sp;
      margin: 30px auto;
    }
    &Container {
      width: 26%;
      letter-spacing: 5px;
      @include tab {
        margin: auto;
        width: 100%;
      }
    }
    &Title {
      font-weight: bold;
      font-size: $content-title;
      @include sp {
        font-size: $content-title-sp;
      }
    }
    &Sub {
      font-size: $content-sub-title;
      padding: 8px 0;
      @include sp {
        font-size: $content-sub-title-sp;
      }
    }
    &Text {
      width: 60%;
      line-height: 1.5;
      @include tab {
        margin: 20px auto;
        width: 90%;
      }
    }
  }
  &__work {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    @include tab {
      display: block;
      margin: 80px 0 0;
    }
    @include sp {
      margin: 30px 0 0;
    }
    &Item {
      width: calc(100% / 3);
      margin: 0 30px;
      @include tab {
        margin: 80px auto;
        width: 80%;
      }
      @include sp {
        width: 100%;
        margin: 20px auto;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &Item img {
      max-width: 100%;
      box-shadow: $shadow;
      margin: 15px 0;
      &:hover {
        opacity: 0.3;
      }
    }
    &Link {
      font-size: $main-text;
      color: $text-color;
      width: 100%;
      display: block;
      text-align: center;
      text-decoration: none;
      position: relative;
      @include sp {
        font-size: $main-text-sp;
      }
      @include underline;
    }
    &Notice {
      p {
        font-size: $main-text;
        margin: 35px auto;
        line-height: 1.4;
        @include sp {
          font-size: $main-text-sp;
        }
      }
      &--sp {
        display: none;
      }
      @include tab {
        &--pc {
          display: none;
        }
        &--sp {
          display: block;
        }
      }
    }
  }
  &__contact {
    margin: 0px auto;
    display: block;
  }
}
/* profileページ */
.profilePage {
  max-width: $layout-width-inner;
  margin: 0 auto;
  &__top {
    background-image: url(../images/top/main.jpg);
  }
  &__content {
    margin: 0 30px;
    @include sp {
      margin: 0 15px;
    }
  }
  &__chapter {
    margin: 100px auto;
    font-size: $main-text;
    text-align: center;
    @include sp {
      margin: 45px auto;
    }
    & h5 {
      font-size: 32px;
      font-weight: bold;
      @include sp {
        font-size: 6.6vw;
      }
    }
    & span {
      font-size: 16px;
      @include sp {
        font-size: 3.2vw;
      }
    }
    & h5,
    span {
      letter-spacing: 6px;
    }
    & p {
      margin: 25px auto;
      line-height: 1.75;
    }
    & table {
      width: 100%;
    }
    & tr {
      border-top: solid 10px #fff;
      border-bottom: solid 10px #fff;
    }
    & th {
      width: 40%;
      vertical-align: middle;
      text-align: center;
      background-color: $main-color;
      color: #fff;
      padding: 0 15px;
    }
    & td {
      width: 60%;
      text-align: left;
      line-height: 1.75;
      padding: 15px 20px;
      background-color: $table-color;
      & strong {
        color: $main-color;
      }
    }
    @include sp {
      font-size: $main-text-sp;
    }
    &Title {
      margin: 45px auto;
    }
  }
}
/* worksページ */
.worksPage {
  max-width: $layout-width-inner;
  margin: 0 auto;
  &__top {
    &--01 {
      background-image: url(../images/works/01/01_pc_001.png);
    }
    &--02 {
      background-image: url(../images/works/02/02_pc_001.png);
    }
    &--03 {
      background-image: url(../images/works/03/03_pc_001.png);
    }
  }
  &__content {
    margin: 0 30px;
    @include sp {
      margin: 0 15px;
    }
  }
  &__chapter {
    margin: 100px auto;
    @include sp {
      margin: 40px auto;
    }
    &Sub {
      font-size: 24px;
      margin: 45px auto;
      border-bottom: $border;
      line-height: 1.75;
      @include sp {
        font-size: 5vw;
        margin: 25px auto;
      }
    }
    &Text {
      font-size: $main-text;
      margin: 50px auto;
      line-height: 1.75;
      @include sp {
        font-size: $main-text-sp;
        margin: 25px auto;
      }
    }
    &Link {
      margin: 80px 0;
      display: flex;
      justify-content: space-between;
      @include tab {
        display: block;
      }
    }
  }
  &__image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &Pc,
    &Sp {
      margin: 30px auto;
      box-shadow: $shadow;
      @include sp {
        margin: 10px 0;
      }
    }
    &Pc {
      width: calc(100% / 2 - 30px);
      @include tab {
        width: 100%;
      }
    }
    &Sp {
      width: calc(100% / 3 - 30px);
      @include tab {
        width: calc(100% / 2 - 30px);
      }
      @include sp {
        display: block;
        width: 100%;
      }
    }
  }
}
