/* ヘッダー */
.header {
  height: $layout-height-pc;
  background-color: #fff;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  @include tab {
    height: $layout-height-sp;
  }
  &__inner {
    width: 100%;
    height: $layout-height-pc;
    max-width: $layout-width-inner;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    @include tab {
      height: $layout-height-sp;
      padding: 10px;
    }
  }
  &__title {
    font-size: $title;
    font-family: $main-font;
    text-decoration: none;
    color: $text-color;
    letter-spacing: 5px;
    display: inline-block;
    transition: 0.8s;
    @include sp {
      font-size: $title-sp;
    }
    &:hover {
      opacity: 0.3;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  &__button {
    font-size: $title;
    &--close {
      font-size: 45px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px 40px;
      @include tab {
        padding: 0 10px;
      }
    }
  }
  &__nav {
    width: 100%;
    height: 100%;
    padding: 120px 35px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $main-color;
    font-size: 20px;
    text-align: center;
    color: $text-color;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    /* メニュークリック後のCSS */
    &--active {
      transform: translateX(0);
    }
    @include tab {
    }
    @include sp {
      padding: 60px 15px;
    }
    &Item {
      margin: 15px auto;
      font-size: $nav-text;
      @include sp {
        font-size: $nav-text-sp;
      }
      &:hover {
        opacity: 0.3;
        transition: 0.3s;
      }
    }
  }
}

/* フッター */
.footer {
  text-align: center;
  color: #727171;
  margin: 140px 0 20px;
  small {
    font-size: $copyright;
    @include sp {
      font-size: $copyright-sp;
    }
  }
}
/* ボタン */
.button {
  color: $main-color;
  background-color: transparent;
  width: 30%;
  text-align: center;
  font-size: $btn-text;
  font-weight: 800;
  transition: 0.8s;
  border: solid 1px $main-color;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  box-shadow: $shadow;
  @include tab {
    width: 60%;
    font-size: $btn-text;
    margin: 25px auto;
  }
  &:hover {
    color: #fff;
    background-color: $main-color;
    transition: 0.8s;
  }
  & a,
  p {
    display: block;
    color: $main-color;
    padding: 15px;
    &:hover {
      color: #fff;
    }
    @include tab {
      font-size: $btn-text-tab;
    }
    @include sp {
      margin: 8px auto;
      font-size: $btn-text-sp;
      padding: 6px;
    }
  }
}
/* トップ */
.top {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  margin: $layout-height-pc auto 0;
  @include tab {
    height: 50vh;
    background-position: center;
    margin: $layout-height-sp auto 0;
  }
  &Title {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    font-size: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: $text-shadow;
    @include tab {
      font-size: 38px;
    }
    @include sp {
      font-size: 8vw;
    }
  }
}
/* タイトル */
.title {
  background-color: $main-color;
  color: #fff;
  padding: 10px 15px;
  box-shadow: $title-shadow;
  font-size: $content-title;
  @include sp {
    font-size: $content-title-sp;
  }
}
