/* ヘッダー */
.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
  &__title {
    font-size: $title;
    font-family: $header-font;
    text-decoration: none;
    color: $text-color;
    letter-spacing: 5px;
    display: inline-block;
    transition: 0.8s;
    &:hover {
      opacity: 0.3;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  &__button {
    font-size: $title;
    &--close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px 40px;
    }
  }
  &__nav {
    width: 30%;
    height: 100%;
    padding: 80px 35px;
    top: 0px;
    right: 0;
    background-color: $main-color;
    display: none;
    position: fixed;
    z-index: 10;
    font-size: 20px;
    &Item {
      margin: 15px auto;
      &:hover {
        opacity: 0.3;
        transition: 0.3s;
      }
    }
  }
}
/* フッター */
.footer {
  text-align: center;
  color: #727171;
  margin: 140px 0 20px;
}
/* ボタン */
.button {
  color: $main-color;
  background-color: transparent;
  width: 25%;
  text-align: center;
  font-size: $btn-text;
  font-weight: 800;
  transition: 0.8s;
  border: solid 1px $main-color;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $main-color;
    transition: 0.8s;
  }
  & a,
  p {
    display: block;
    margin: 15px 20px;
    color: $main-color;
    &:hover {
      color: white;
    }
  }
}
