.introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 145px 0px 160px;
  &__image {
    width: 600px;
    display: block;
  }
  &__container {
    position: relative;
  }
  &__modal {
    color: $main-color;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 300px;
    margin: 50px;
    padding: 25px;
    text-align: center;
    background: rgba(242, 243, 245, 0.9);
    display: none;
    &Title {
      font-size: $content-title;
      border-bottom: solid 1.25px;
    }
    &Sub {
      font-size: $content-sub-title;
      padding-top: 10px;
    }
    &Text {
      font-size: 20px;
      padding: 40px 0;
      line-height: 1.5;
    }
  }
}
.chapter {
  margin: 160px 100px;
  text-align: center;
  color: $main-color;
  &__title {
    font-size: $content-title;
    border-bottom: solid 1.25px;
  }
  &__sub {
    font-size: $content-sub-title;
    padding-top: 10px;
    margin-bottom: 100px;
  }
  &__article {
    margin: 100px 0;
    font-size: $main-text;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &Container {
      width: 35%;
      letter-spacing: 5px;
    }
    &Title {
      font-weight: bold;
      font-size: 30px;
    }
    &Sub {
      font-size: 16px;
      padding: 8px 0;
    }
    &Text {
      width: 65%;
      line-height: 1.5;
    }
  }
}
.skill {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    width: calc(100% / 2 - 20px);
    list-style: none;
    color: $main-color;
    background-color: $main-color;
    border-radius: 10px;
    margin: 60px 0;
    padding: 15px;
    &Title {
      margin: 0px 0px 15px;
      color: white;
      text-align: center;
      font-size: 24px;
      letter-spacing: 2px;
    }
    &Container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      color: $text-color;
      height: 140px;
    }
    &Icon {
      font-size: 32px;
      margin: auto;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      padding: 0 10px 0 20px;
    }
    &Text {
      padding: 0 20px 0 10px;
      font-size: $main-text;
    }
  }
}
.work {
  display: flex;
  justify-content: center;
  margin: 140px 0 200px;
  &__item {
    width: 400px;
    margin: 0px 30px;
    position: relative;
    &Link {
      position: absolute;
      top: 0;
      font-size: $main-text;
      padding-top: 250px;
      width: 100%;
      display: block;
      text-align: center;
      transition: 0.8s;
      &:hover {
        background-color: rgba(118, 140, 163, 0.9);
        color: white;
        top: 0;
        padding: 125px 0;
        transition: 0.8s;
      }
    }
  }
  &__item img {
    max-width: 100%;
  }
}
.contact {
  margin: 0px auto;
  display: block;
}
