@charset "UTF-8";
body {
  font-size: 1.8rem;
  color: #333333;
}

/* indexページ */
.indexPage {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .indexPage {
    padding: 0 10px;
  }
}

.indexPage__top {
  background-image: url(../images/top/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  margin: 70px 0 0;
}

@media screen and (max-width: 768px) {
  .indexPage__top {
    margin: 45px 0 0;
    height: 50vh;
  }
}

@media screen and (max-width: 480px) {
  .indexPage__top {
    margin: 45px 0 0;
  }
}

.indexPage__topContainer {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 4px;
}

.indexPage__topTitle {
  font-size: 48px;
  font-family: "Arial Black";
}

@media screen and (max-width: 480px) {
  .indexPage__topTitle {
    font-size: 10vw;
  }
}

.indexPage__topSub {
  display: block;
  font-size: 22px;
  margin: 8px auto;
}

@media screen and (max-width: 480px) {
  .indexPage__topSub {
    font-size: 4.2vw;
  }
}

.indexPage__chapter {
  margin: 100px 40px 160px;
  padding-top: 70px;
  text-align: center;
  color: #7a9169;
}

@media screen and (max-width: 768px) {
  .indexPage__chapter {
    margin: 0 20px;
    padding-top: 45px;
  }
}

@media screen and (max-width: 480px) {
  .indexPage__chapter {
    margin: 0 20px;
  }
}

.indexPage__chapterTitle {
  font-size: 30px;
  border-bottom: solid 1px;
}

@media screen and (max-width: 480px) {
  .indexPage__chapterTitle {
    font-size: 6vw;
  }
}

.indexPage__chapterSub {
  font-size: 16px;
  padding-top: 10px;
}

@media screen and (max-width: 480px) {
  .indexPage__chapterSub {
    font-size: 3vw;
  }
}

.indexPage__article {
  margin: 100px auto;
  font-size: 18px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .indexPage__article {
    display: block;
    margin: 60px auto;
  }
}

@media screen and (max-width: 480px) {
  .indexPage__article {
    font-size: 3.7vw;
    margin: 30px auto;
  }
}

.indexPage__articleContainer {
  width: 26%;
  letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
  .indexPage__articleContainer {
    margin: auto;
    width: 100%;
  }
}

.indexPage__articleTitle {
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .indexPage__articleTitle {
    font-size: 6vw;
  }
}

.indexPage__articleSub {
  font-size: 16px;
  padding: 8px 0;
}

@media screen and (max-width: 480px) {
  .indexPage__articleSub {
    font-size: 3vw;
  }
}

.indexPage__articleText {
  width: 60%;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .indexPage__articleText {
    margin: 20px auto;
    width: 90%;
  }
}

.indexPage__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px auto;
}

@media screen and (max-width: 768px) {
  .indexPage__work {
    display: block;
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .indexPage__work {
    margin: 30px 0 0;
  }
}

.indexPage__workItem {
  width: calc(100% / 3);
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .indexPage__workItem {
    margin: 80px auto;
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .indexPage__workItem {
    width: 100%;
    margin: 20px auto;
  }
}

.indexPage__workItem:hover {
  cursor: pointer;
}

.indexPage__workItem img {
  max-width: 100%;
  -webkit-box-shadow: 1px 1px 3px #666769;
          box-shadow: 1px 1px 3px #666769;
  margin: 15px 0;
}

.indexPage__workItem img:hover {
  opacity: 0.3;
}

.indexPage__workLink {
  font-size: 18px;
  color: #333333;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 480px) {
  .indexPage__workLink {
    font-size: 3.7vw;
  }
}

.indexPage__workLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  left: 0;
  bottom: -5px;
  background-color: #7a9169;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.indexPage__workLink:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.indexPage__workNotice p {
  font-size: 18px;
  margin: 35px auto;
}

@media screen and (max-width: 480px) {
  .indexPage__workNotice p {
    font-size: 3.7vw;
  }
}

.indexPage__workNotice--sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .indexPage__workNotice--pc {
    display: none;
  }
  .indexPage__workNotice--sp {
    display: block;
  }
}

.indexPage__contact {
  margin: 0px auto;
  display: block;
}

/* profileページ */
.profilePage {
  max-width: 1080px;
  margin: 0 auto;
}

.profilePage__top {
  background-image: url(../images/top/main.jpg);
}

.profilePage__content {
  margin: 0 30px;
}

@media screen and (max-width: 480px) {
  .profilePage__content {
    margin: 0 15px;
  }
}

.profilePage__chapter {
  margin: 100px auto;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .profilePage__chapter {
    margin: 45px auto;
  }
}

.profilePage__chapter h5 {
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .profilePage__chapter h5 {
    font-size: 6.6vw;
  }
}

.profilePage__chapter span {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .profilePage__chapter span {
    font-size: 3.2vw;
  }
}

.profilePage__chapter h5,
.profilePage__chapter span {
  letter-spacing: 6px;
}

.profilePage__chapter p {
  margin: 25px auto;
  line-height: 1.75;
}

.profilePage__chapter table {
  width: 100%;
}

.profilePage__chapter tr {
  border-top: solid 10px #fff;
  border-bottom: solid 10px #fff;
}

.profilePage__chapter th {
  width: 40%;
  vertical-align: middle;
  text-align: center;
  background-color: #7a9169;
  color: #fff;
  padding: 0 15px;
}

.profilePage__chapter td {
  width: 60%;
  text-align: left;
  line-height: 1.75;
  padding: 15px 20px;
  background-color: #f5f6f7;
}

.profilePage__chapter td strong {
  color: #7a9169;
}

@media screen and (max-width: 480px) {
  .profilePage__chapter {
    font-size: 3.7vw;
  }
}

.profilePage__chapterTitle {
  margin: 45px auto;
}

/* worksページ */
.worksPage {
  max-width: 1080px;
  margin: 0 auto;
}

.worksPage__top--01 {
  background-image: url(../images/works/01/01_pc_001.png);
}

.worksPage__top--02 {
  background-image: url(../images/works/02/02_pc_001.png);
}

.worksPage__top--03 {
  background-image: url(../images/works/03/03_pc_001.png);
}

.worksPage__content {
  margin: 0 30px;
}

@media screen and (max-width: 480px) {
  .worksPage__content {
    margin: 0 15px;
  }
}

.worksPage__chapter {
  margin: 100px auto;
}

@media screen and (max-width: 480px) {
  .worksPage__chapter {
    margin: 40px auto;
  }
}

.worksPage__chapterSub {
  font-size: 24px;
  margin: 45px auto;
  border-bottom: solid 1px;
  line-height: 1.75;
}

@media screen and (max-width: 480px) {
  .worksPage__chapterSub {
    font-size: 5vw;
    margin: 25px auto;
  }
}

.worksPage__chapterText {
  font-size: 18px;
  margin: 50px auto;
  line-height: 1.75;
}

@media screen and (max-width: 480px) {
  .worksPage__chapterText {
    font-size: 3.7vw;
    margin: 25px auto;
  }
}

.worksPage__chapterLink {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .worksPage__chapterLink {
    display: block;
  }
}

.worksPage__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.worksPage__imagePc, .worksPage__imageSp {
  margin: 30px auto;
  -webkit-box-shadow: 1px 1px 3px #666769;
          box-shadow: 1px 1px 3px #666769;
}

@media screen and (max-width: 480px) {
  .worksPage__imagePc, .worksPage__imageSp {
    margin: 10px 0;
  }
}

.worksPage__imagePc {
  width: calc(100% / 2 - 30px);
}

@media screen and (max-width: 768px) {
  .worksPage__imagePc {
    width: 100%;
  }
}

.worksPage__imageSp {
  width: calc(100% / 3 - 30px);
}

@media screen and (max-width: 768px) {
  .worksPage__imageSp {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 480px) {
  .worksPage__imageSp {
    display: block;
    width: 100%;
  }
}

/* ヘッダー */
.header {
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    height: 45px;
  }
}

.header__inner {
  width: 100%;
  height: 70px;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 35px;
}

@media screen and (max-width: 768px) {
  .header__inner {
    height: 45px;
    padding: 10px;
  }
}

.header__title {
  font-size: 32px;
  font-family: "Arial Black";
  text-decoration: none;
  color: #333333;
  letter-spacing: 5px;
  display: inline-block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 6.6vw;
  }
}

.header__title:hover {
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__button {
  font-size: 32px;
}

.header__button--close {
  font-size: 45px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 40px;
}

@media screen and (max-width: 768px) {
  .header__button--close {
    padding: 0 10px;
  }
}

.header__nav {
  width: 100%;
  height: 100%;
  padding: 120px 35px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #7a9169;
  font-size: 20px;
  text-align: center;
  color: #333333;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  /* メニュークリック後のCSS */
}

.header__nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 480px) {
  .header__nav {
    padding: 60px 15px;
  }
}

.header__navItem {
  margin: 15px auto;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .header__navItem {
    font-size: 6.2vw;
  }
}

.header__navItem:hover {
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* フッター */
.footer {
  text-align: center;
  color: #727171;
  margin: 140px 0 20px;
}

.footer small {
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  .footer small {
    font-size: 2.2vw;
  }
}

/* ボタン */
.button {
  color: #7a9169;
  background-color: transparent;
  width: 30%;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: solid 1px #7a9169;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 3px #666769;
          box-shadow: 1px 1px 3px #666769;
}

@media screen and (max-width: 768px) {
  .button {
    width: 60%;
    font-size: 20px;
    margin: 25px auto;
  }
}

.button:hover {
  color: #fff;
  background-color: #7a9169;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.button a,
.button p {
  display: block;
  color: #7a9169;
  padding: 15px;
}

.button a:hover,
.button p:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .button a,
  .button p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .button a,
  .button p {
    margin: 8px auto;
    font-size: 3.6vw;
    padding: 6px;
  }
}

.button--copy {
  font-size: 18px;
  padding: 6px 0;
  width: 40%;
}

@media screen and (max-width: 480px) {
  .button--copy {
    font-size: 3.7vw;
  }
}

/* トップ */
.top {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  margin: 70px auto 0;
}

@media screen and (max-width: 768px) {
  .top {
    height: 50vh;
    background-position: center;
    margin: 45px auto 0;
  }
}

.topTitle {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  font-size: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 4px 4px #666769;
}

@media screen and (max-width: 768px) {
  .topTitle {
    font-size: 38px;
  }
}

@media screen and (max-width: 480px) {
  .topTitle {
    font-size: 8vw;
  }
}

/* タイトル */
.title {
  background-color: #7a9169;
  color: #fff;
  padding: 10px 15px;
  -webkit-box-shadow: 4px 4px 3px #666769;
          box-shadow: 4px 4px 3px #666769;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 6vw;
  }
}
/*# sourceMappingURL=style.css.map */