.button {
  color: #768ca3;
  background-color: transparent;
  width: 25%;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: solid 1px #768ca3;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: #768ca3;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.button a,
.button p {
  display: block;
  margin: 15px 20px;
  color: #768ca3;
}

.button a:hover,
.button p:hover {
  color: white;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 145px 0px 160px;
}

.introduction__image {
  width: 600px;
  display: block;
}

.introduction__container {
  position: relative;
}

.introduction__modal {
  color: #768ca3;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 300px;
  margin: 50px;
  padding: 25px;
  text-align: center;
  background: rgba(242, 243, 245, 0.9);
  display: none;
}

.introduction__modalTitle {
  font-size: 26px;
  border-bottom: solid 1.25px;
}

.introduction__modalSub {
  font-size: 14px;
  padding-top: 10px;
}

.introduction__modalText {
  font-size: 20px;
  padding: 40px 0;
  line-height: 1.5;
}

.chapter {
  margin: 160px 100px;
  text-align: center;
  color: #768ca3;
}

.chapter__title {
  font-size: 26px;
  border-bottom: solid 1.25px;
}

.chapter__sub {
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: 100px;
}

.chapter__article {
  margin: 100px 0;
  font-size: 18px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chapter__articleContainer {
  width: 35%;
  letter-spacing: 5px;
}

.chapter__articleTitle {
  font-weight: bold;
  font-size: 30px;
}

.chapter__articleSub {
  font-size: 16px;
  padding: 8px 0;
}

.chapter__articleText {
  width: 65%;
  line-height: 1.5;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill__item {
  width: calc(100% / 2 - 20px);
  list-style: none;
  color: #768ca3;
  background-color: #768ca3;
  border-radius: 10px;
  margin: 60px 0;
  padding: 15px;
}

.skill__itemTitle {
  margin: 0px 0px 15px;
  color: white;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
}

.skill__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  height: 140px;
}

.skill__itemIcon {
  font-size: 32px;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0 10px 0 20px;
}

.skill__itemText {
  padding: 0 20px 0 10px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 140px 0 200px;
}

.work__item {
  width: 400px;
  margin: 0px 30px;
  position: relative;
}

.work__itemLink {
  position: absolute;
  top: 0;
  font-size: 18px;
  padding-top: 250px;
  width: 100%;
  display: block;
  text-align: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.work__itemLink:hover {
  background-color: rgba(118, 140, 163, 0.9);
  color: white;
  top: 0;
  padding: 125px 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.work__item img {
  max-width: 100%;
}

.contact {
  margin: 0px auto;
  display: block;
}

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 35px;
}

.header__title {
  font-size: 32px;
  font-family: "Century Gothic";
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  display: inline-block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header__title:hover {
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__button {
  font-size: 32px;
}

.header__button--close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 40px;
}

.header__nav {
  width: 30%;
  height: 100%;
  padding: 80px 35px;
  top: 0px;
  right: 0;
  background-color: #768ca3;
  display: none;
  position: fixed;
  z-index: 10;
  font-size: 20px;
}

.header__navItem {
  margin: 15px auto;
}

.header__navItem:hover {
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  text-align: center;
  color: #727171;
  margin: 140px 0 20px;
}
/*# sourceMappingURL=style.css.map */